################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patterns/Patterns/bin/Debug
/Patterns/Patterns/obj/Debug
